*{
    scroll-behavior: smooth;
}
body{
    background-color: #151515;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}
.cookiealert{
    bottom: 0;
    position: fixed;
    flex-direction: column;
    text-align: center;
    padding: 20px 15px;
    display: none;
    max-width: 100vw;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    background-color: #302f2f8e;
    z-index: 101;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.cookiealert p{
    position: relative;
    width: 90%;
    margin: 2px;
}
.cookiealert button{
    height: 20px;
    cursor: pointer;
    text-align: center;
    margin: 15px;
    height: 3rem;
    width: 6em;
    border: 2px solid #3d0099;
    border-radius: 0.25rem;
    background-color: transparent;
    color: #ffffff;
}
header{
    width: 100vw;
    position: fixed;
    padding: 20px 15px;
    display: flex;
    height: 60px;
    max-width: 100vw;
    color: #FFFFFF;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5em;
    background-color: #1b1b1b;
    z-index: 101;
}
::-webkit-scrollbar {
    width: 10px;
    
}
::-webkit-scrollbar-track {
    background: #1b1b1b;
}
::-webkit-scrollbar-thumb {
    background: #0496FF;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {

    background: #4BB3FD; 
}
.logo{
    color: #027BCE;
}
.menu ul {
    padding: 0 2em;
}
.menu ul li{
    display: inline-block;
    font-size: 1.1rem;
    margin: 0 10px;
    border-bottom:  2px solid  rgba(0, 0, 0, 0);
    cursor: pointer;
}
.menu ul:hover li.menubtn:hover a{
    cursor: pointer;
    border-bottom:  2px solid #0496FF;
    color: #0496FF;
}
.mobile{
    display: none;
}
a{
    color: #ffffff;
    text-decoration: none;
}
.lagchange{
    display: flex;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    z-index: 101;
    position: fixed;
    left: -8px;
    top: 10em;
    width: 50px;
    height: 40px;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to bottom right, #4BB3FD,#0496FF);
    border-radius: 10px;
    transition: 0.55s;
}
.active{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100px;
    height: 80px;
    padding: 0 0.5%;
    transition: 0.55s;
}
.lagchange a{
    opacity: 0;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    transition: 0.55s;
}
.lagchange button{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.lagchange.active button{
    width: 100%;
    height: 20%;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.fa-earth-americas{
    color: #ffffff;
}
.show{
    opacity: 1 !important; 
    display: flex !important;
    transition: 0.55s;
}
.lagchange a img{
    margin-left: 5%;
    width: 20%;
}
main{
    display: block;
    max-width: 100%;
    width: 100%; 
    min-height: 100vh;
    padding: 0;
    margin: 0 300px 0 0;
    color: #FFFFFF;
    justify-content: center;
}
.home{
    display: flex;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}
.home p{
    color: #e4e7e8;
    font-size: 1.30em;
    text-align: center;
}
.home span span p{
    margin: 0;
    font-size: 3em;
    color: #027BCE;
    text-align: center;
}
.pres p span{
    display: inline-flex;
}
.pres{
    max-height: 20vh;
}
.botoes{
    display: flex;
    justify-content: center;
}
.botoes button{
    padding: 0;
}
.botoes button a{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#contact, .downcv{
    opacity: 0;
    cursor: pointer;
    text-align: center;
    margin: 15px;
    height: 3em;
    width: 6em;
    border: 2px solid #027BCE ;
    border-radius: 0.25rem;
    background-color: transparent;
    color: #ffffff;
}
#contact:hover , .downcv:hover{
    background-color: #66666666;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 15vh;
    max-width: 100%;
    background-image: linear-gradient(to top right, #4BB3FD,#0496FF);
    color: #ffffff;
    padding: 0.75em;
}
footer p {
    display: flex;
    justify-content: center;
    margin: 0;
    height: 2em;
    font-size: 1rem;
}
.icons{
    max-width: 100%;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    height: 2em;
}
.icons i{
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
    max-width: 100%;
}
.skill{
    display: flex;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #1b1b1b;

}
.skill p{
    display: flex;
    position: relative;
}
.skillarea{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.portifolio{
    display: flex;
    height: 150vh;
    width: 100vw;
    max-width: 100%;
    justify-content: center;
}
.pb{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.titles{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: max-content;
    width: 100%;
}
.sg,.sc,.flooder{
    display: flex;
    width: 50vw;
    height: 40vh;
    background-color: #1b1b1b;
    border-radius: 15px;
}
.sg button,.flooder button,.sc button{
    cursor: pointer;
    text-align: center;
    margin: 15px;
    height: 3em;
    width: 6em;
    border: 2px solid #027BCE;
    border-radius: 0.25rem;
    background-color: transparent;
    color: #ffffff;
}
.sg button:hover,.flooder button:hover,.sc button:hover{
    background-color: #66666666;
}
.imgarea{
    height: 100%;
    width: 50%;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.portifolio img{
    width: 100%;
    height: 100%; 
    object-fit: cover;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.sg,.sc,.flooder{
    transform: scale(1);
    transition: 0.75s;
}
.sg:hover,.sc:hover,.flooder:hover{
    transform: scale(1.10);
    transition: 0.55s;
}
.exp{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 50%;
    text-align: center;
    padding: 0.5rem;
}
.exp p.titles{
    padding: 0;
    margin: 0;
}
.titleresp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skillarea{
    flex-direction: column;
}
.a_top{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-around;
    align-items: center;
}
.card_a,.card_b{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom :1%;
    width: 30vw;
    height: 30vh;
    background-color: #151515;
    border-radius: 15px;
    transform: scale(1);
    transition: 0.75s;
    
}
.img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.card_a img ,.card_b img{
    min-width: 25%;
    width: 25%;
    transform: scale(0.6);
    filter: invert(100%);
}
.card_a:hover,.card_b:hover{
    transform: scale(1.1);
    transition: 0.75s;
}
.a_bottom{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-around;
    align-items: center;
}
.progress {
    background-color: #e4e7e8;
    width: 40%;
    border-radius: 15px;
}
.bar{
    background-color: #0496FF;
    color: white;
    padding: 1.25%;
    text-align: right;
    font-size: 0.75rem;
    border-radius: 15px;
}
.skill .skillarea p{
    margin: 0;
    padding: 0;
}