body{
    background-color:rgb(202, 228, 241);
}
.logo{
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}
.exit, .start{
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

#lgpd_cookie{
    display: grid;
    top: 90%;
    box-shadow: rgba(0, 0, 0, 0.30) 13px -20px 50px -10px;
    background-color: #fff;
    width: 99%;
    border-radius: 20px;
    margin: 0.5%;
}
.ccm-cookie-icon, .cal-center, .ca-text, .ccm-banner-buttons{
    padding: 0.75%;
}

@media only screen and (max-width: 1920px) {
    .logo{
        display: block;
        margin: auto;
        margin-bottom: 2%;
        max-width: 25%;
        max-height: 25%;
        
    }
    .logo:hover{
        max-width: 26%;
        max-height: 26%;
        margin-bottom: 1%;
    }
    
    .exit, .start{
        display: block;
        margin: auto;
        margin-bottom: 2%;
        max-width: 9%;
        max-height: 9%;
    }
    .start:hover, .exit:hover{
        display: block;
        margin: auto;
        margin-bottom: 1%;
        max-width: 10%;
        max-height: 10%;
    }
    
}

@media only screen and (max-width: 850px) {
    .logo{
        display: block;
        margin: auto;
        max-width: 60%;
    }
    .exit, .start{
        display: block;
        margin: auto;
        max-width: 30%;
    }
    .logo:hover{
        min-width: 59%;
    }
    .exit:hover,.start:hover{
        min-width: 29%;
    }
}


@media only screen and (max-width: 500px) {
    .logo{
        display: block;
        margin: auto;
        max-width: 100%;
    }
    .exit, .start{
        display: block;
        margin: auto;
        max-width: 45%;
    }
    .logo:hover{
        min-width: 99%;
    }
    .exit:hover,.start:hover{
        min-width: 44%;
    }
    .ccm-cookie-icon, .cal-center, .ca-text, .ccm-banner-buttons{
        padding: 1%;
    }
}
