*{
    font-family: 'Alatsi'
}
html, body {
    min-height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    background-color: #202225;
    color: #ffffff;
    margin: 0;
    padding: 0;
}
.Light, .Night{
    flex:1 1 0%;
    margin: 0px 10px;
}
#menuicon{
    margin-left: 10px;
    max-height: 55%;
    display: flex;
    align-items: center;
    justify-items: center;
}
.menu-opener{
    display: flex;
    align-items: center;
    justify-items: center;
    height: 92px;
    cursor: pointer;
}

#menu-area{
    top: 0;
    position: fixed;
    min-width: 100%;
    height: 100px;
    background-color: #202225;
    display: flex;
    align-items: center;
    font-weight: 400;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0px 2.5px 6px rgba(255, 255, 255, 0.5);
    z-index: 9999;
}
#menu-area li{
    margin-right: 2%;
    margin-left: 2%;
    display: inline;
    cursor: pointer;
}
.menulista{
    display: flex;
    justify-content: center;
    min-width: 300px;
    margin: 0;
    position: absolute;
    right: 2%;
    color: #ffffff;
}
#menu-area li:hover{
    border-radius: 3px;
    background-color: #2f3136;
}
#logo{
    font-size: 35px;
    margin-left: 3%;
    margin-right: 3%;
    cursor: pointer;
    
}
img{
    height: 100%;
    object-fit: cover;
}
img:hover{
    cursor: pointer;
}
#lang{
    width: 26px;
    height: 16px;
    margin-right: 0.75%;
    position: absolute;
    right: 0;
}


.head{
    justify-items: end;
    text-align: center;
    font-size: 50px;
    margin: 0;
    padding: 0;
}
aside{
    display: grid;
    justify-content: center;
    min-width: 100%;
    min-height: 100%;
    padding-top: 5%;
}

#sec1, #sec4{
    place-items: center;
}
#sec1,#sec2, #sec3, #sec4{
    display: grid;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 2.5px 6px rgba(255, 255, 255, 0.75);
    border-radius: 35px;
    background-color: #37393E;
    min-height: 750px;
    min-width: 1080px;
    max-height: 750px;
    max-width: 1080px;
    margin-top: 10%;
    margin-bottom: 10%;
    cursor:none;
}
#aboutme{
    max-width: 100%;
    min-height: 100%;
    justify-content: left;
    border-radius: 35px;
}
#abouttxt{
    text-align: center;
}



/*project*/
#sc,#wf{
    display: flex;
    justify-content: end;
}
#box1{
    display: block;
    max-width: 100%;
    max-height: 100%;
    justify-content: left;
    border-radius: 35px;
}
#box2{
    display: inline-flex;
    max-width: 100%;
    min-height: 100%;
    justify-content: left;
    border-radius: 35px;
}
img#sg{
    z-index: 1;
    border-top-left-radius: 33px;
    border-top-right-radius: 33px;
    height: 100%;
    width: 100%;
}
img#sc{
    border-bottom-left-radius: 33px;
    height: 100%;
    width: 50%;
}
img#wf{
    border-bottom-right-radius: 33px;
    height: 100%;
    width: 50%;
}
a{
    color:white;
    text-decoration: none;
}
a:hover li{
    color:gray;
}

#hovertm.sgbox{
    width: 100%;
    border-top-left-radius: 33px;
    border-top-right-radius: 33px;
}
#hovertm.scbox,#hovertm.wfbox{
    display: grid;
}
#hovertm.scbox{
    max-width: 540px;
    width: 50%;
    border-bottom-left-radius: 33px;
}
#hovertm.wfbox{
    left: 50%;
    max-width: 540px;
    width: 50%;
    border-bottom-right-radius: 33px;
}

#hovertm{
    max-width: 1080px;
    max-height: 377px;
    height: 100%;
    position: absolute;
    z-index: 2;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%,rgba(0, 0, 0, 0.80) 50%);
    transition: background-position 1s;

}
#hovertm:hover{
    display: block;
    cursor: pointer;
    background-position: 0 -100%;
    transition: 850ms;
}
#hovertm:hover .sgtxt{
    display: flex;
    transition: 3s;
    opacity: 1;
}
#hovertm:hover .sctxt{
    display: flex;
    transition: 3s;
    opacity: 1;
}
#hovertm:hover .wftxt{
    display: flex;
    transition: 1s;
    opacity: 1;
}

.sgtxt, .sctxt,.wftxt{
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    opacity: 0;
}

