*{
    font-family: 'Merriweather Sans', sans-serif;
}
h1{
    display: block;
    margin: 2% 0;
    text-align: center;
    color: #ff780c;
    font-family: 'Merriweather Sans', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color:rgb(202, 228, 241);
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.sprite{
    display: flex;
    width: 30%;
}

.return{
    display: flex;
    position:absolute;
    top: 0%;
    right: 0;
    width: 2%;
    margin: 0.75%;
    transition: transform .7s ease-in-out;
    
}
.return:hover{
    transform: rotate(-180deg);
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.keyboard__keys {
    text-align: center;
}
.keyboard__key {
    height: 40px;
    width: 40px;
    max-width: 90px;
    margin: 3px;
    border-radius: 6px;
    background: #fff;
    font-size: 1.05rem;
    cursor: pointer;
    align-items: center;
    padding: 0;
}

li{
    list-style: none;
    display: inline;
}
ul{
    padding: 0;
}

#gameOver{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0, 0, 0.8);
    color: white;
    font-size: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
}
#win, #lose, #resp{
    display: none;
}
#resp{
    font-size: 15px;
}
#restart{
    margin: 0;
    box-sizing: border-box;
    padding: 20px;
    font-size: 20px;
    background-color: #ff780c;
    border: none;
    border-radius: 30px;
    margin-top: 10px;
    font-weight: bolder;
}
@media only screen and (max-width: 830px) {
    .sprite{
        display: flex;
        width: 40%;
    }
    .return{
        display: flex;
        position: absolute;
        top: 0%;
        right: 0;
        width: 5%;
        margin: 0.75%;
        transition: transform .7s ease-in-out;
        
    }
    .return:hover{
        transform: rotate(-180deg);
    }
    
}

@media only screen and (max-width: 500px) {
    .sprite{
        display: flex;
        width: 70%;
    }
    .return{
        display: flex;
        position: absolute;
        top: 0%;
        right: 0;
        width: 7%;
        margin: 0.75%;
        transition: transform .7s ease-in-out;
        
    }
    .return:hover{
        transform: rotate(0);
    }
    #win, #lose{
        font-size: 45px;
    }
}

